fish_env/
.vscode
.DS_Store
.Rhistory
__pycache__/
*.pyc
.superpowers/
data/
output/
training_data/
notebooks/model_optimization*/**/*.joblib
notebooks/model_optimization*/**/*.zip
notebooks/model_optimization*/*.zip
notebooks/model_optimization*/**/*.log
